<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="bizapps_test.WEB.MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />  
    <link href="fonts/stylesheet.css" rel="stylesheet" />
    <%-- <link rel="stylesheet" href="StyleTest.css"/>--%>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <nav class="navbar  header">
        
         <div id ="headdiv" class="container ">
     
             <div class="row">
                 <div class="col-lg-3">
                     <a class="navbar-brand brand" href="#">  itBL<i class="glyphicon glyphicon-cog"> </i>GER</a>
                 </div>
                 <div class="col-lg-9">
             <%--    <ul class ="navbar navbar-nav navbar-right list-inline" id="navbarlist" runat="server">
                     <li ><asp:HyperLink runat="server" NavigateUrl="~/MainPage.aspx" Text="Main page"></asp:HyperLink></li>
                     <li >Category</li>
                     <li >About</li>
                     <li >Contacts</li>
                 </ul>--%>
                     
                     <asp:BulletedList DisplayMode="HyperLink" class ="navbar navbar-nav navbar-right list-inline" id="navbarlist" runat="server">
                         <Items>
                             <asp:ListItem Value="~/MainPage.aspx" Text="MainPage"></asp:ListItem>
                             <asp:ListItem Text="Categories"></asp:ListItem>
                             <asp:ListItem Text="About"> </asp:ListItem>
                             <asp:ListItem Text="Contacts"></asp:ListItem>
                         </Items>
                     </asp:BulletedList>
                 </div>
             </div>

            
                
         </div>
    </nav>
        
        <div class="container" style=" height: auto;" >
                      <form runat="server" role="form" >
                          <div class="row" style="height: auto; margin-bottom: 60px;">
                          <div class="col-lg-9" style="padding-right: 30px; padding-left: 0;" >
                              <asp:ContentPlaceHolder ID="ContentPlaceHolder1"   runat="server">
                              </asp:ContentPlaceHolder>
                            
                          </div>  
                          <div class="col-lg-3 sidebarcontainer"  >
                              <asp:ContentPlaceHolder ID="ContentPlaceHolder2"   runat="server">
                              </asp:ContentPlaceHolder>
                             
                                 <asp:Login ID="AuthForm" OnLoggedIn="AuthForm_OnLoggedIn" OnAuthenticate="AuthForm_OnAuthenticate" Visible="False" runat="server">
                                            <LayoutTemplate>
                                                <div class="panel panel-default sidebar" id="loginform">
                                                <h4>Log In</h4>
                                                <asp:TextBox ID="UserName" CssClass="loginformtextbox" placeholder="Login" runat="server"></asp:TextBox>
                                                <asp:TextBox ID="Password" CssClass="loginformtextbox" placeholder="Password" TextMode="Password" runat="server"></asp:TextBox>
                                                 <asp:Button ID="Login" Text="LogIn" runat="server"/>
                                                </div>
                                            </LayoutTemplate>
                                 </asp:Login>
                             

                              <div class="panel panel-default sidebar" style="text-align: left;" id="loginform">
                                  <h4 >CATEGORIES</h4>
                                  <div id="categorycontainer">
                                      <asp:BulletedList ID="CategoryList" DisplayMode="LinkButton" OnClick="CategoryList_OnClick" runat="server">
                                          <asp:ListItem  Text="All categories" Value="allcategories"/> 
                                          <asp:ListItem Text="Without category" Value="withoutcategory"/> 
                                      </asp:BulletedList>
                                  </div>
                                
                              </div>
                          </div>
                          </div>

                      
                          

                   </form>                  
        </div>

    <%--   <div class="navbar-fixed-bottom footer" >
          
               <div class="container-fluid">
                   <div class="container">
                       <span> 2019  All rights reserved</span>
                   </div>
              </div>

       </div>--%>
       



          
   
         
          
        
       
   
    <script src="Scripts/jquery-1.9.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>
  <%-- <script>
       function CategoryList_OnClick() {
           document.getElementById("CategoryList").CategoryList.toggle('activeitem');
       }
   </script>--%>


</body>
</html>
